.alert {
    border-radius: 10px;
    min-width: 450px;
    min-height: 300px;
    background-color: #005d76;
}

.alert-title {
    color: #cdcdcd;
    background-color: #043340;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    min-width: 161px;
    margin: 5px;
}

.alert-background {
    background-color: rgba(30%,30%,30%,0.8);
}

.alert-button {
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    margin: 5px;
}

.alert-button-left {
    border-radius: 0px 0px 0px 10px;
    background-color: gray;
}

.authorization-code-box {
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    min-width: 40px;
    background-color: #d08c00;
}

.alert-results-box {
    color: #cdcdcd;
    padding: 10px;
}

.button-background {
    background-image: url("../button_images/button.png");
    border-image: none;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    border: 0;
    min-width: 400px;
    min-height: 120px;
    box-shadow: none;
}
.message-bar {
    background-color: #2b2b2b;
}

.content-box {
    background-color: #dbdbdb;
}

.label-notification {
    color: white;
    background-color: #20577a;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    min-width: 161px;
}

.label-notification-message-normal {
    color: #a1a1a1;
    font-size: 25px;
    padding-left: 10px;
    min-height: 48px;
}

.label-notification-message-urgent {
    color: yellow;
    font-size: 25px;
    padding-left: 10px;
    min-height: 48px;
}

.notification_container {
    padding-right: 230px;
}

.notification-button {
    margin-left: 10px;
}

.notification-panel {
    background-color: #005d76;
    margin-left: 180px;
    margin-right: 215px;
}

.nav-button-label {
    color: white;
    font-weight: bold;
    font-size: 36px;
    padding-left: 30px;
    padding-right: 20px;
}

#myButton_green.button-background {
    color: green;
}

#myButton_green.button-background:hover {
    background-image: url("../button_images/button.png");
}

#myButton_red.button-background {
    color: red;
}

#myButton_red.button-background:hover {
    background-image: url("../button_images/button-bright-red.png");
}

.blue-text:focus {
    color: green;
}

.blue-text:hover {
    color: orange;
}

.blue-text {
    color: #197cc3;
}

.main-grid {
    background-color: #dbdbdb;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

.settings-menu-panel {
    background-color: #2b2b2b;
}

.settings-menu-button:focus {
    color: #dbdbdb;
    background-color: #20577a;
}

.settings-menu-button:hover {
    color: #dbdbdb;
    background-color: #373737;
}

.settings-menu-button {
    color: #dbdbdb;
    font-size: 23px;
    background-color: #2b2b2b;
    background-image: none;
    border-image: none;
    border-radius: 0px;
    padding: 7px;
}

.settings-menu-title {
    color: white;
    background-color: #2b2b2b;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    margin-right: 8px;
}

.content-area {
    background-color: #353535;
}

.settings-menu-button-search {
    color: white;
    font-size: 20px;
    background-color: #bebebe;
    background-image: none;
    border-image: none;
    border-radius: 5px;
    margin: 8px;
    min-width: 15px;
    min-height: 25px;
}

.settings-menu-button-search:hover {
    background-color: #20577a;
}

.cat-menu-title {
    color: white;
    background-color: #20577a;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.about-menu-portrait {
    margin-top: 25px;
    margin-right: 55px;
    padding: 0px;
    border-radius: 8px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    box-shadow: 10px 10px 8px #121212;
}

.test-size {
    font-size: 12px;
    color: red;
}

.test {
    background-color: green;
}